	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/01/2017 12:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-right: 10px;
}

.flaticon-bed:before { content: "\f100"; }
.flaticon-food:before { content: "\f101"; }
.flaticon-heart:before { content: "\f102"; }
.flaticon-monitor:before { content: "\f103"; }
.flaticon-shirt:before { content: "\f104"; }
.flaticon-small-diamond:before { content: "\f105"; }
.flaticon-smartphone:before { content: "\f106"; }
.flaticon-sports:before { content: "\f107"; }