body, .navbar-default {
  background-color: #333;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active,
.sidebar ul li a.active,
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li a:active {
  background-color: #eee;
  color: #333;
}


.nav > li > a,
.sidebar ul li a {
  color: #fff;
}

.sidebar ul li {
  border-bottom: none;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
  color: #ddd;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 120px;
}

h1.page-header {
  font-size: 25px;
}