html {
  height : 100%;
}

body {
  position    : relative;
  min-height  : 100%;
  color       : #333;
  background  : #fff;
  font-family : Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size   : 14px;
  font-weight : 300;
  word-wrap   : break-word;
}

img {
  width               : 100%;
  outline             : none;
  -webkit-user-select : none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance : none;
  margin             : 0;
}

input[type=number] {
  -moz-appearance : textfield;
}

input[type=button],
input[type=submit] {
  -webkit-appearance : none;
}

a[href^=tel] {
  color           : inherit;
  text-decoration : none;
}

a,
button {
  -moz-transition    : all .3s ease;
  -ms-transition     : all .3s ease;
  -o-transition      : all .3s ease;
  -webkit-transition : all .3s ease;
  transition         : all .3s ease;
}

textarea {
  min-width : 100%;
  max-width : 100%;
}

/* Top Navigation */
#navbar-top {
  background-color:#e64c04;
  padding:10px 0;
  text-align:center;

}

.navbar-contain {
  padding:0 15px;
  margin:0;
  list-style-type: none;
}

.navbar-contain > li {
  display:inline-block;
  border-right:1px solid #fc5204;
  padding:0 15px;
  color: #fff;
  position: relative;
}

.navbar-contain > li:last-child {
  border:none;
}

.navbar-contain > li > a,
.navbar-contain > li > button {
  color:#fff;
  text-decoration:none;
}

.navbar-contain > li > button {
  margin: 0;
  padding: 0;
}

.navbar-contain > li > a:hover,
.navbar-contain > li > a:focus,
.navbar-contain > li > a:active,
.navbar-contain > li > button:hover,
.navbar-contain > li > button:focus,
.navbar-contain > li > button:active {
  color:#d8d8d8;
  text-decoration:none !important;
}

.navbar-contain > li > a > i {
  color:#fd7738;
}

.bold-link {
  font-weight: bold;
  border-bottom:1px dotted #ff5c00;
  background: transparent !important;
  color: #ff5c00 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

/* Main Navigation */
#navbar-primary {
  background-color: #fff;
  transition:all .5s ease;
}

.fixed {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  padding: 0 !important;
  z-index:1000;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.form-header {
  border-bottom:1px solid #dedede;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.form-header img {
  max-width:200px;
  display: inline-block;
  margin-right:10px;
  padding-right:10px;
  border-right:1px solid #dedede;
}

.form-header h1 {
  display:inline-block;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
  vertical-align: bottom;
}

.form-body p {
  color:#777;
  line-height: 2;
  margin-bottom: 20px;
}

.popup-with-form {
  display: none;
}

.mfp-close-btn-in .mfp-close {
  background-color: #fdbc02;
  color:#fff;
}

.form-body .text-center {
  margin-top: 20px;
}

.form-body .text-center img {
  width: auto;
}

.navbar-brand {
  height: auto;
  margin-right: 15px;
}
.navbar-brand img {
  max-width: 150px;
}

.navbar-search {
  float: left;
  width: 45%;
  padding: 20px 0;
}

.navbar-search .btn-primary {
  background-color: #f22d02;
  border-color: #f22d02;
}

.navbar-search .btn-primary:hover,
.navbar-search .btn-primary:focus,
.navbar-search .btn-primary:active {
  background-color: #a61f01;
  border-color: #a61f01;
}

.navbar-search .form-control:focus {
  box-shadow: none;
  border-color: #f22d02;
}

.navbar-cart .navbar-nav {
  list-style-type: none;
  float: none;
  padding: 25px 0;
}

.navbar-cart .navbar-nav > li {
  margin: 0 5px;
}

.navbar-cart .navbar-nav > li > a {
  padding: 10px;
  background-color: #f22d02;
  color: #fff;
}

.navbar-cart .navbar-nav > li > a:hover,
.navbar-cart .navbar-nav > li > a:focus,
.navbar-cart .navbar-nav > li > a:active {
  text-decoration: none;
  background-color: #a61f01;
}

/* Navigation Bottom */
#navbar-bottom {
   background-color: #ffffff;
   border-bottom: 10px #c13010 solid;
}

#navbar-bottom .navbar-contain > li {
  border-color: #fff;
  background-color: #c13010;
    border-top: 1px solid #ffa07a;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#navbar-bottom .navbar-contain > li > a {
  padding: 10px 0;
  display: block;
  min-width: 200px;
  font-weight: 700;
  text-transform: uppercase;
}

#navbar-bottom .navbar-contain > li > a > i {
  color: #fff;
  margin-right: 15px;
}

/* Main Categories */
#main-images {
  position: relative;
  /*margin-top: 20px;*/
}

#main-images .flexslider .slides img {
  width: 100%;
  max-height: none;
  height: 100%;
}
.container-fluid {
  padding: 0;
}

.categories-main {
  position: absolute;
  left: 336px;
  z-index: 999;
  background-color: #fff;
  min-width: 300px;
  max-height:385px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.categories-main ul,
.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hoverClass {
  background: #f22d02;
  color: #fff !important;
  text-decoration: none;
}
.menu-content-sidebar {
  position: relative;
}

.main-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  position: absolute;
  left: -30px;
  top: 130%;
  width: 100%;
  min-width: 260px;
  background-color: #fff;
  z-index: 999;
}

.main-menu > .dropdown > .dropdown-toggle > .pull-left {
  line-height: 28px;
}

.dropdown-menu .sub-categories:last-child {
  border: none;
}

.dropdown-menu-tier {
  position: absolute;
  top: 0;
  left: 290px;
  background-color: #fff;
  min-width: 300px;
  opacity: 0;
  display: none;
  border-left: 1px solid #dedede;
}

.sub-categories:hover .dropdown-menu-tier {
  opacity: 1;
  display: block;
}

.dropdown-submenu .fa-chevron-right {
  color: #333;
}

.menu-content-sidebar:hover .main-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  display: block;
  border: 1px solid #dedede;
}

.categories-main ul > li,
.main-menu > li {
  border-bottom: 1px solid #dedede;
}

.categories-main ul > li:last-child,
.main-menu > li:last-child {
  border: none;
}

.categories-main ul > li > a,
.main-menu > li > a {
  padding: 9.7px 10px;
  display: block;
  color: #333;
  font-family: "Nunito",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.categories-main ul > li > a:hover,
.categories-main ul > li > a:focus,
.categories-main ul > li > a:active,
.main-menu > li > a:hover,
.main-menu > li > a:focus,
.main-menu > li > a:active {
  background: #f22d02;
  color: #fff;
  text-decoration: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .fa-chevron-right {
  margin-top: 8px;
}

.dropdown-submenu > .dropdown-menu {
  top: 0px;
  left: 100%;
  border-radius: 0;
  padding: 10px;
  margin-top: 0;
  margin-left: -1px;
  min-width: 300px;
  box-shadow: none;
  border: none;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .sub-categories {
  margin-bottom: 0px;
  border-bottom: 1px solid #dedede;
  position: relative;
}

.dropdown-menu .sub-categories-first {
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  display: block;
  padding: 10px;
}

.dropdown-menu .sub-categories-first:hover,
.dropdown-menu .sub-categories-first:focus,
.dropdown-menu .sub-categories-first:active {
  text-decoration: none;
  color: #f22d02;
}

.dropdown-menu .sub-categories-second {
  padding: 0;
}

.dropdown-menu .sub-categories-second li {
  display: block;
  border: none;
  padding: 0;
}

.dropdown-menu .sub-categories-second li a {
  text-transform: none;
  padding:10px;
  color: #666;
  display: block;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
}

.dropdown-menu .sub-categories-second li a:hover,
.dropdown-menu .sub-categories-second li a:focus,
.dropdown-menu .sub-categories-second li a:active {
  background: none;
  color: #f22d02;
}

.flexslider .slides > li { 
  background-position: center;
  height: 100%;
  width: 100%;
  display: none; 
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flexslider-container, 
.flexslider .slides, 
.flex-viewport {
    height: 100%;
}

ul.slides {
  margin: 0;
  padding: 0;
}

#banner {
  height: 410px;
}

.flexslider {
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 100%; 
  border: 0px; 
  overflow: hidden;
}

.flex-direction-nav a {
  width: 45px;
  height: 45px;
  top: 50%;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  border-bottom: 1px dashed #ccc;
  padding: 10px 20px 10px 60px;
  margin-bottom: 25px;
}

.product {
  color: inherit;
  display: block;
  margin-bottom: 10px;
}

.product:hover,
.product:focus,
.product:active,
.sm-product:hover,
.sm-product:focus,
.sm-product:active {
  color: #f22d02;
  text-decoration: none;
}

.product-image {
 /* border: 1px solid #dedede;*/
  border-radius: 4px;
}

.product-image img {
  display: block;
}

.product-title {
  font-size: 14px;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.promoted {
    border-color: #da5d12;
    color: #da5d12;
}

.home {
    border-color: #5bb71a;
    color: #5bb71a;
}
.food {
    border-color: #237fb9;
    color: #237fb9;
}

.title-icon {
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.category-icon {
    display: inline-block;
    margin-left: 10px;
    margin-top: -55px;
    background-color: #fff;
    z-index: 8;
   /* left: 10%; */
    border: 2px solid;
    padding: 5px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    position: absolute;
    font-size: 20px;
}

.product-title > a {
  color: inherit !important;
}

.price {
  color: #f22d02;
  margin: 0;
}

.sm-product {
  display: block;
  color: inherit;
  margin-bottom: 15px;
}

.product .product-image,
.sm-product .product-image {
  border-radius: 0;
}

#furniture img {
  width: 80px;
  display: inline-block;
}

#furniture .product-image {
  text-align: center;
}

.box {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  padding:20px 10px;
  text-align: center;
  margin-bottom: 20px;
}


  .box-banner {
    background-color: #ffa07a;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.4); */
    padding: 5px;
    text-align: center;
    /* margin-bottom: 20px; */
    border: 1px solid #dedede;
    border-radius: 4px;
    background: rgb(241,89,42);
    background: rgba(241,89,42,0.75);
	}

.box .price {
  margin-bottom: 10px;
}

.box .btn-primary {
  border: none;
  border-radius: 0;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nunito",sans-serif;
}

.ad-block {
  margin-bottom: 10px;
}

#lelang {
  margin: 20px 0;
}

#lelang-super .flexslider .slides img {
  max-height: none !important;
  width: 100% !important;
}

.lelang-box {
  border: 1px solid #dedede;
  padding: 60px 20px;
  position: relative;
}

.lelang-box .flex-control-nav {
  display: none;  
}

.lelang-title {
  margin: 0;
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #ff5c00;
  color: #fff;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: -5px;
  left: 15px;
}

.lelang-product-title {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.lelang-product-title h3 {
  font-family: "Nunito",sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.lelang-product-title h3 > a {
  color: inherit;
}

.star-rating i {
  color: #ff5c00;
}

.lelang-price {
  margin-bottom: 20px;
}

.lelang-price .harga-baru {
  font-size: 26px;
}

.lelang-price .harga-baru small {
  font-size: 50%;
  font-weight: normal;
  color: #333;
  margin-right: 10px;
}

.lelang-countdown {
  margin-bottom: 10px;
}

.harga-baru {
  display: block;
  color: #ff5c00;
  font-weight: 700;
  margin-right: 5px;
}

.harga-lama {
  display: block;
  font-size: 12px;
  color: #777;
  text-decoration: line-through;
}

.oneline .product-title {
  margin-bottom: 5px;
  max-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

.lelang-countdown h4 {
  font-family: "Nunito",sans-serif;
  font-size: 18px;
  color: #ff5c00;
  text-transform: uppercase;
  margin: 0;
}

.lelang-countdown span {
  font-size: 30px;
}

.partner-box {
  padding: 20px;
  background-color: #eee;
  text-align: center;
}

.partner-box img {
  display: inline-block;
  margin: 0 10px;
  width: auto;
  max-width: 150px;
}

.lg-prod {
  margin-top: 20px;
  margin-bottom: 40px;
}

.lg-prod-title h2 {
  font-family: "Nunito",sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff5c00;
  color: #fff;
  float: left;
  margin: 0;
  margin-right: 10px;
  padding:10px;
  border-radius: 10px 0 0 0;
  min-width: 190px;
}

.lg-prod-nav {
  background-color: #f2f2f2;
  margin-bottom: -1px;
}

.lg-prod-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lg-prod-navbar li {
  display: inline-block;
}

.lg-prod-navbar li a {
  font-family: "Nunito",sans-serif;
  font-size: 14px;
  padding:10px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  display: block;
}

.lg-prod-navbar li a:hover,
.lg-prod-navbar li a:focus,
.lg-prod-navbar li a:active {
  text-decoration: none;
  color: #ff5c00;
}

.stretch {
  padding: 0;
}

.lg-box {
  height: 265px;
  border-bottom: 1px solid #dedede;
  text-align: center;
  position: relative;
  padding: 20px;
}

.md-box {
  border: 1px solid #dedede;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.md-box > img{
	height:200px;
}

.lg-border {
  border-right: 1px solid #dedede;
}

.lg-box .harga-baru {
  font-size: 16px;
  margin-right: 0;
}

.harga {
  min-height: 50px;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all .3s ease;
  background: rgba(255,255,255,0.6);
  box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
}

.overlay-box > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  border-radius: 100%;
  padding: 10px;
  background-color: #ff5c00;
  color: #fff !important;
}

.overlay-box > a:hover,
.overlay-box > a:focus,
.overlay-box > a:active,
.overlay-buttons a:hover,
.overlay-buttons a:focus,
.overlay-buttons a:active {
  background-color: #b34000;
  text-decoration: none;
}

.overlay-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  padding: 5px 0px;
}

.overlay-buttons a {
  display: inline-block;
  border-radius: 40px;
  padding: 5px 10px;
  background-color: #ff5c00;
  color: #fff !important;
}

.lg-box:hover .overlay-box,
.md-box:hover .overlay-box {
  opacity: 1;
}

.lg-prod.right .lg-prod-nav h2 {
  float: right;
  margin-right: 0;
  margin-left: 10px;
  border-radius: 0 10px 0 0;
  text-align: right;
}

.lg-prod.right .lg-prod-navbar {
  text-align: right;
}

.blog-title {
  font-family: "Nunito",sans-serif;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-title:before {
  content: "";
  background-color: #ffc32c;
  width: 10px;
  min-height: 22px;
  display: inline-block;
  margin-right: 10px;
}

.blog-subtitle {
  font-size: 20px;
  color: #777;
  padding-left: 20px;
  margin-top: 0;
  text-transform: uppercase;
}

.blog-post-title {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.blog-date {
  color: #ffc432;
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
}

.blog-post-desc {
  color: #b5b5b5;
}

.owl-theme .owl-nav {
  position: absolute;
  top: -60px;
  right: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
  background-color: #ffc32c;
  color: #333;
  border: 2px solid #333;
  transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-']:hover,
.owl-theme .owl-nav [class*='owl-']:focus,
.owl-theme .owl-nav [class*='owl-']:active {
  background-color: #df9f00;
  color: #333;
}

#invite {
  background-color: #24292d;
  color: #edeef0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#invite h2 {
  font-size: 24px;
  color: #ffc22e;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  float: left;
  border-right: 1px solid #383f45;
  padding: 6px 10px 6px 0;
  margin-right: 10px;
}

#invite p {
  text-transform: uppercase;
  float: left;
  margin-bottom: 0;
  margin-top: 1px;
  font-size: 18px;
  padding: 6px 0px;
}

#invite .btn-primary {
  background-color: #ffc32d;
  border-color: #ffc32d;
  color: #34392e;
  border-radius: 0;
  font-size: 18px;
  font-weight: 700;
}

#invite .btn-primary:hover,
#invite .btn-primary:focus,
#invite .btn-primary:active {
  background-color: #fff;
  border-color: #fff;
}

#footer {
  margin-top: 50px;
}

.footer-feature {
  background-color: #ff5c00;
  padding: 20px;
  color: #fff;
}

.footer-feature .col-sm-13 {
  border-right:1px solid #ff782c;
}

.footer-feature .col-sm-13:last-child {
  border: none;
}

.footer-feature i {
  float: left;
  font-size: 36px;
  margin-right: 10px;
  padding-left: 10px;
}

.footer-feature-holder {
  float: left;
}

.footer-feature-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}

.footer-feature-subtitle {
  color: #ffad87;
  margin: 0;
}

.footer-main {
  padding: 50px 0;
  background-color: #f0f0f0;
  color: #969696;
}

.footer-main .row {
  border-bottom: 1px solid #e1e1e1;
}

.footer-main h2 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  color: #333;
}

.footer-main .col-sm-13 ul {
  margin: 0;
  padding-left: 15px;
}

.footer-main .col-sm-13 ul li {
  line-height: 2;
  display: block;
}

.footer-main .col-sm-13 ul li:before {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
}

.footer-main .col-sm-13 ul li a {
  color: inherit;
}

.footer-main td {
  padding: 5px;
  vertical-align: top;
}

.footer-link {
  padding: 0;
  margin: 0;
  margin: 20px 0;
}

.footer-link li {
  display: inline-block;
}

.footer-link li a {
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
}

.footer-link li a:hover,
.footer-link li a:focus,
.footer-link li a:active {
  color: #ff5c00;
  text-decoration: none;
}

.footer-desc {
  width: 50%;
  margin: auto;
}

.footer-main .text-center {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 50px;
}

#newsletter {
  margin-top: 20px;
}

#newsletter h2,
#socmed h3 {
  font-family: "Nunito",sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  float: left;
  letter-spacing: -2px
}

#newsletter .input-group {
  width: 40%;
  float: left;
  margin-top: -1px;
}

#newsletter .input-group .form-control {
  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter .input-group .form-control:focus {
  box-shadow: none;
  border-color: #ff5c00;
}

#newsletter .input-group .btn-primary {
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff5c00;
  border-color: #ff5c00;
  border-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#socmed {
  margin-top: -4px;
}

#socmed h3 {
  margin-top: 10px;
  font-size: 18px;
}

#socmed ul {
  float: left;
  padding: 0;
  margin: 0;
}

#socmed ul li {
  display: inline-block;
}

#socmed ul li a {
  color: #fff;
}

#socmed ul li a .fa-inverse {
  color: #333 !important;
}

.footer-bottom {
  background-color: #3b3b3b;
  padding: 30px 0;
}

.footer-bottom p {
  color: #59605c;
  margin: 0;
  font-size: 12px;
}

.footer-bottom p > a {
  color: #dc4b30;
}

.footer-bottom img {
  max-height: 16px;
  width: auto;
  margin-top: 10px;
  display: inline-block;
}

.deals-countdown {
    margin-top: 15px
}

.deals-countdown .deals-time {
    float: left;
    text-align: left
}

.deals-countdown .deals-time .num-time {
  font-size: 230.7%;
  color: #222;
  background-color: #ebebeb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 15px 10px 15px;
  display: inline-block;
  position: relative;
  margin-right: 25px;
  line-height: 100%;
  min-width: 70px;
  text-align: center;
}

.deals-countdown .deals-time .num-time:after {
  position: absolute;
  content: ":";
  font-size: 28px;
  font-weight: 700;
  color: #222;
  right: -15px;
  top: 5px;
}

.deals-countdown .deals-time .title-time {
  text-transform: uppercase;
  padding-left: 8px;
  padding-top: 2px;
}

.deals-countdown .deals-time.time-secs .num-time:after {
  display: none;
}

.breadcrumbs {
  padding: 20px 0;
  margin: 0;
}

.breadcrumbs .items {
  color: #a3a3a3;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs .items .item {
  color: #7d7d7d;
  text-transform: uppercase;
  margin: 0;
}

.breadcrumbs .items .current {
  font-weight: 700;
}

.breadcrumbs .item:not(last-child) {
  display: inline-block;
  text-decoration: none;
}

.breadcrumbs .items > li {
  vertical-align: top;
  font-family: "Nunito",sans-serif;
}

.breadcrumbs .items .item a {
  display: block;
  text-decoration: none;
  color: #7d7d7d;
}

.breadcrumbs .items .item a:after {
  content: '\f105';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-stretch: normal;
  font-kerning: auto;
  font-feature-settings: normal;
  line-height: 1;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
}

.breadcrumbs a:visited {
  color: #333;
  text-decoration: none;
}

.sidebar-product {
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.sidebar-title h2 {
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
  padding: 10px;
}

.sidebar-content {
  padding: 10px;
}

.sidebar-content > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  line-height: 2;
}

.sidebar-content ul li a {
  color: inherit;
}

.sidebar-content > ul > li > ul {
  list-style-type: none;
  padding-left: 15px;
  margin: 0;
}

.sidebar-amount {
  color: #777;
  margin-left: 5px;
  font-size: 12px;
}

#price-range .sidebar-content {
  padding: 50px 10px;
}

.noUi-connect {
  background-color: #ff5c00 !important;
}

.product-list-title {
  font-family: "Nunito",sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
}

.product-toolbar {
  background-color: #e8e8e8;
  padding: 10px;
  margin-bottom: 20px;
}

.limiter {
  margin-right: 40px;
  float: left;
}

.product-toolbar .pages,
.review-box .pages {
  display: inline-block;
  vertical-align: top;
  float: left;
}

.product-toolbar .pages-label,
.review-box .pages-label {
  float: left;
  line-height: 40px;
  margin-right: 10px;
  color: #7d7d7d;
}

.product-toolbar .pages-items,
.review-box .pages-items {
  float: left;
}

.product-toolbar .items,
.review-box .items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-toolbar .item,
.review-box .item {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0px 3px;
}

.product-toolbar .item.current,
.review-box .item.current {
  color: #ff5c00;
}

.product-toolbar .item a,
.review-box .item a {
  display: block;
  color: #222;
}

.product-toolbar .pages-item-prev a:before,
.review-box .pages-item-prev a:before {
  content: '\f0d9';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-synthesis: weight style;
  font-stretch: normal;
  font-size-adjust: none;
  font-language-override: normal;
  font-kerning: auto;
  font-feature-settings: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
}

.product-toolbar .pages-item-next a:before,
.review-box .pages-item-next a:before {
  content: '\f0da';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-synthesis: weight style;
  font-stretch: normal;
  font-size-adjust: none;
  font-language-override: normal;
  font-kerning: auto;
  font-feature-settings: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
}

.product-toolbar .pages-item-next a span,
.product-toolbar .pages-item-prev a span,
.review-box .pages-item-next a span,
.review-box .pages-item-prev a span {
  display: none;
}

.product-detail-title,
.review-title {
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.detail-status {
  margin-bottom: 20px;
}

.detail-status span {
  display: inline-block;
}

.detail-status .label {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #1ac642;
  border-radius: 0;
}

.detail-status .sku {
  border-left: 1px solid #dedede;
  padding-left: 10px;
  margin-left: 10px;
  color: #777;
}

.detail-price {
  margin-top: 10px;
  display: inline-block;
}

.detail-price .harga-baru {
  font-size: 20px;
}

.detail-button {
  display: inline-block;
}

.detail-button .btn-default,
.detail-wishlist-buttons .btn-default {
  border-radius: 0;
}

.detail-preview {
  border-top: 1px solid #dedede;
  margin-top: 10px;
  padding-top: 10px;
}

.detail-preview p {
  margin-bottom: 20px;
}

.number-spinner {
  max-width: 120px;
  float: left;
}

.detail-buttons,
.detail-wishlist-buttons {
  margin-bottom: 20px;
}

.detail-buttons .btn-primary {
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  margin-left: 30px;
  background-color: #ff7300;
  border-color: #ff7300;
  border-radius: 0;
  text-transform: uppercase;
}

.detail-wishlist-buttons .btn-default {
  font-size: 12px;
}

.twitter-share-button {
  font-size: 12px;
  position: relative;
  height: 20px;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: #1b95e0;
  border-radius: 3px;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
}

.twitter-share-button:hover,
.twitter-share-button:focus,
.twitter-share-button:active {
  text-decoration: none;
  color: #fff;
  background-color: #13689c;
}

.twitter-share-button i {
  vertical-align: top;
  margin-top: 3px;
}

#special .title {
  margin-top: 0;
}

#special .well {
  text-align: center;
}

#special .well .img-circle {
  max-width: 64px;
  margin-bottom: 10px;
}

#special .well > div > a {
  color: #ff5c00;
  font-size: 12px;
  line-height: 1;
  display: block;
}

#special .well > div > span {
  font-size: 12px;
  display: inline-block;
}

#special .well > div > span:last-child {
  margin-bottom: 10px;
}

#details {
  margin-bottom: 50px;
}

#details .flexslider {
  margin-bottom: 50px;
}

#details .nav-tabs > li.active > a, 
#details .nav-tabs > li.active > a:hover, 
#details .nav-tabs > li.active > a:focus {
  background-color: #f5f5f5;
  border-top: 2px solid #ff5c00;
  color: #333;
  font-weight: 700;
}

#details .nav-tabs > li > a {
  border-radius: 0;
  color: #333;
}

.review-box {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.review-title {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  font-size: 18px;
}

.review-reply {
  padding-left: 10px;
  margin-left: 10px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.review-reply p {
  color: #5b5b5b;
}

.review-link {
  color: #333 !important;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin: 5px 0px;
  display: block;
}

#rating {
  margin-bottom: 15px;
}

#rating .col-sm-4 {
  border-right: 1px solid #dedede;
}

#rating .col-sm-4:last-child {
  border: none;
}

.review-box,
#related {
  margin-bottom: 30px;
}

.review-box .form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.review-box .btn-primary {
  background-color: #ffe035;
  border-color: #ffe035;
  color: #333;
  text-transform: uppercase;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  border-radius: 0;
}

.review-box .btn-primary:hover,
.review-box .btn-primary:focus,
.review-box .btn-primary:active {
  background-color: #fff;
}

.review-box p > a {
  color: #ff5c00;
}

.review-post {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.review-post p {
  margin-bottom: 0;
}

.review-post table {
  margin-bottom: 10px;
}

.review-post td {
  padding: 5px 10px 0 0;
}

.register-img {
  text-align: center;
  padding-top: 50px;
}

.register-img img {
  width: auto;
  max-width: 200px;
}

#register #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.register-box {
  width: 500px;
  margin: 70px auto;
  border: 1px solid #dedede;
  padding: 20px;
}

.register-box h1 {
  text-align: center;
  font-size: 24px;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.register-box .form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.register-box .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ecedef;
  border-color: #ecedef;
}

.register-box label {
  font-weight: 400;
}

.register-box .checkbox input[type="checkbox"] {
  top: -1px !important;
}

.register-box p {
  font-size: 12px;
}

.register-box p > a {
  color: #ff5c00;
}

.register-box .btn-primary {
  background-color: #ff5c00;
  border-color: #ff5c00;
  border-radius: 0;
}

.register-box .btn-primary:hover,
.register-box .btn-primary:focus,
.register-box .btn-primary:active {
  background-color: #fff;
  color: #333 !important;
}

.register-box .register-separator {
  color: #aaa;
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  -webkit-box-align:  center;
  padding: 20px 0;
  justify-content: center;
  -webkit-box-pack:  center;
}

.register-box .register-separator:before,
.register-box .register-separator:after {
  width: 20%;
  height: 1px;
  top: 50%;
  background: #ddd;
  position: absolute;
  content: '';
}

.register-box .register-separator:before {
  left: 20%;
}

.register-box .register-separator:after {
  right: 20%;
}

.btn-facebook,
.btn-google {
  border-radius: 0;
}

.btn-facebook {
  color: #fff;
  background-color: #4286c1;
  border: 1px solid #2e6697;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #fff;
  background-color: #3975a8;
}

.btn-google {
  background: #fff;
  border: 1px solid #bdbdbd;
  color: #606060;
  margin-bottom: 20px;
}

.btn-google:hover {
  background: #e7e7e7;
  color: #606060;
}

.btn-block i {
  margin-right: 5px;
}

.btn-google i {
  color:#EA4335;
}

.register-box .reg-size {
  font-size: 14px;
  text-align: center;
}

.username {
  margin-left: 20px !important;
}

.username .bold-link {
  display: inline-block;
  overflow: hidden;
  max-width: 100px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.username:hover .user-submenu-container {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

.user-submenu {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-top: none;
  padding: 20px;
  min-width: 172px;
}

.user-submenu-container {
  position: absolute;
  top: 0px;
  z-index: 999;
  right: 0;
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
}

.user-submenu li {
  text-align: left;
  list-style-type: none;
}

.user-submenu li a {
  padding: 4px 0;
  display: block;
  color: #3a3a3a;
}

.user-submenu li a:hover,
.user-submenu li a:focus,
.user-submenu li a:active {
  color: #e64c04;
  text-decoration: none;
}

.user-submenu .avatar-container {
  text-align: center;
  margin-bottom: 10px;
  padding-left: 0;
}

.user-submenu .avatar-container img {
  border-radius: 100%;
  max-width: 50px;
}

.user-submenu .user-submenu-separator {
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin: 5px 0;
}

.user-submenu .amount {
  border-radius: 4px;
  padding: 5px;
  background-color: #e64c04;
  color: #fff;
  margin-left: 5px;
  font-size: 12px;
}

#dashboard {
  background-color: #f8f8f8;
  padding-bottom: 20px;
}

.card-box {
  background: #fff;
  border: 1px solid #dedede;
  padding: 15px;
  margin-bottom: 15px;
}

.tabpanel {
  margin: 20px 0;
}

.tabpanel .nav-tabs > li.active > a, 
.tabpanel .nav-tabs > li.active > a:hover, 
.tabpanel .nav-tabs > li.active > a:focus {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #ff5c00;
  color: #ff5c00;
  font-weight: 700;
}

.tabpanel .nav-tabs > li > a {
  color: inherit;
  border-top: 2px solid #fff;
}

.tab-body {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
 /* background-color: #f5f5f5;*/
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#ppob {
  border:1px solid #dedede;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.85);
}

#ppob .tab-body {
  border: none;
 /* background-color: #fff;*/
  box-shadow: none;
}

.card-header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.card-header img {
  border-radius: 100%;
  vertical-align: top;
  margin-right: 10px;
}

.card-header h2 {
  font-size: 18px;
  font-family: "Nunito",sans-serif;
  margin: 0;
  font-weight: 700;
}

.card-box a {
  color: #ff5c00;
}

.btn-primary {
  background-color: #f22d02;
  border-color: #f22d02;
  color:#fff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #a61f01;
  border-color: #a61f01;
  color:#fff !important;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled]
.btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus, 
fieldset[disabled] .btn-primary.focus {
  background-color: #a61f01;
  border-color: #a61f01;
  color:#fff !important; 
}

.card-header .card-name p {
  margin: 0;
  font-size: 12px;
}

.card-header .card-name hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert {
  border-radius: 0;
}

.alert-warning {
  background-color: #f39c12;
  color: #fff;
  border-color: #e08e0b !important;
}

.text-danger {
  color: #E74C3C;
}

.card-body .btn-default {
  color: #333 !important;
}

.card-body .list-group-item {
  padding: 10px 0;
  border: none;
  margin: 0;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

.card-body .list-group-item:last-child {
  border-bottom: none;
}

.card-body .checkbox-inline label {
  font-weight: normal;
}

.btn-fb {
  background-color: #3b5998;
  color: #fff !important;
}

.btn-fb:hover,
.btn-fb:focus,
.btn-fb:active {
  background-color: #263961;
  color: #fff !important;
}

.btn-twitter {
  background-color: #0084b4;
  color: #fff !important;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
  background-color: #004c68;
  color: #fff !important;
}

.btn-gp {
  background-color: #d34836;
  color: #fff !important;
}

.btn-gp:hover,
.btn-gp:focus,
.btn-gp:active {
  background-color: #9b3022;
  color: #fff !important;
}

.card-info p {
  font-size: 12px;
}

.card-info p > a {
  color: #ff5c00;
}

.card-info .btn {
  padding: 3px;
}

.menu-item {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.menu-item li a {
  padding: 10px 5px;
  display: block;
  color: #333;
}

.menu-item li a:hover,
.menu-item li a:focus,
.menu-item li a:active {
  background-color: #fafafa;
  color: #ff5c00;
  text-decoration: none;
  outline: none;
}

.menu-item li.separator {
  height: 1px;
  background-color: #dedede;
  margin: 10px 0;
}

.dash-title {
  font-size: 24px;
  font-family: "Nunito",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
}

.gain-height {
  min-height: 212px;
}

.gain-height_2 {
  min-height: 285px;
}

.card-body .table img {
  max-width: 40px;
}

.card-body .table .btn {
  color: #333;
}

.more-info {
  font-size: 10px;
}

.history-table {
  border-top: none !important;
  background-color: #f3f3f3;
  color: #a0a0a0;
  font-size: 12px;
  display: none;
}

.history-table td {
  border: none !important;
}

.card-body .table > tbody > tr {
  transition: all .3s ease; 
}

.card-body .table > tbody > tr:hover {
  background-color: #fafafa;
}

.etalase {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.etalase-header {
  background-color: #ff5c00;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border: none !important;
}

.etalase li {
  display: block;
  padding: 5px;
  border: 1px solid #dedede;
  border-top: none;
}

.etalase li a {
  display: block;
  color: #333;
}

.etalase li.text-center a {
  color: #ff5c00 !important;
}

.modal-danger {
  top: 150px;
}

.modal-danger .modal-content,
.modal-danger .btn {
  border-radius: 0;
}

.modal-danger .modal-header {
  background-color: #d9534f;
  color: #fff;
}

#dashboard-product {
  margin-top: 10px;
}

#dashboard-product .harga-baru {
  font-size: 16px;
}

#dashboard-product .md-box {
  text-align: left;
  padding-bottom: 10px;
}

#dashboard-product .harga-lama {
  margin-bottom: 10px;
}

.quantity {
  margin-bottom: 15px;
}

.quantity .form-control {
  max-width: 60px;
}

.dash-product-info {
  padding: 10px;
}

.dash-product-info .btn-danger {
  color: #fff !important;
}

.form-control,
.btn {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #acacac !important;
  outline: 0;
}

.search {
  font-family: FontAwesome, Arial; 
  font-style: normal;
}

.product-image-container {
  border: 1px solid #dedede;
  padding: 15px;
}

.product-image-container .product-image {
  float: left;
  border: 1px dashed #ccc;
  width: 115px;
  height: 115px;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-image-container .product-image.default {
  background-image: url('../images/image-add-button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  cursor: pointer;
}

.product-image-container .product-image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 32px;
  background-color: rgba(249,249,249,.9);
}

.product-image-info a {
  display: inline-block;
  width: 16px;
  color: #676767;
}

.product-image-info a.active {
  color: #ff5c00;
}

.radio-inline label {
  font-weight: normal;
}

.card-box .separator {
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin: 5px 0;
}

.action-product {
  max-width: 120px;
  text-align: right;
}

.action-product .btn {
  min-width: 100px;
  margin-bottom: 10px;
}

.btn-danger {
  color: #fff !important;
}

.discount-holder {
  display: inline-block;
  vertical-align: top;
}

#discount-modal img {
  max-width: 100px;
}

.general-form .col-sm-3 label {
  font-weight: normal;
  line-height: 34px;
}

.general-form .radio-inline,
.general-form .col-sm-9 {
  line-height: 34px;
}

.general-form .radio-inline input[type="radio"] {
  margin-top: 10px;
}

.well {
  border-radius: 2px;
  background-color: #f7f7f7;
  border:1px solid rgba(0,0,0,0.15);
}

.well p {
  color: #b0b0b0;
  font-size: 12px;
}

.well .btn {
  margin-bottom: 5px;
}

.well hr {
  margin: 10px 0px;
  background-color: #e0e0e0;
}

.ml20 {
  margin-left: 20px;
}

.ml10 {
  margin-left: 10px;
}

.tab-pane .card-header {
  padding: 10px 0px;
}

.card-title {
  font-size: 16px;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  margin-top: 0;
}

.card-title small {
  margin-left: 5px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb0 {
  margin-bottom: 0;
}

.modal-body .general-form .col-sm-3 label {
  font-size: 12px;
}

.review-username {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.review-text hr {
  margin: 10px 0px;
}

.review-text .review-link {
  border-top: none;
  margin: -10px 0 5px;
}

.star-rating-holder {
  margin-bottom: 10px;
}

.star-rating-holder td:nth-child(even){
  padding-right: 20px;
}

.pagination {
  margin: 0;
}

.pagination li a {
  color: #ff5c00;
}

.d-inline-block {
  display: inline-block;
}

.cd-multi-steps {
  padding: 0;
  margin: 1em auto;
  text-align: center;
  width: 90%;
  max-width: 768px;
  list-style-type: none;
}

.cd-multi-steps li {
  counter-increment: steps;
  width: 80px;
  text-align: center;
  position: relative;
  margin: 0.4em 40px 0.4em 0;
  display: inline-block;
}

.cd-multi-steps li.current > *,
.cd-multi-steps li > * {
  position: relative;
  color: #333;
}

.cd-multi-steps li > * {
  padding-top: 30px;
  font-size: 12px;
  display: inline-block;
}

.cd-multi-steps li > a {
  text-decoration: none;
}

.cd-multi-steps li > *:before {
  content: counter(steps);
  height: 26px;
  width: 26px;
  line-height: 26px;
  font-size: 1.4rem;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #edeff0;
}

.cd-multi-steps li.current > *:before,
.cd-multi-steps li.visited > *:before {
  background-color: #ff5c00;
}

.cd-multi-steps li:after {
  content: '';
  height: 4px;
  position: absolute;
  top: 11px;
  left: 50%;
  display: inline-block;
  margin: 0 .6em;
  color: #959fa5;
  width: calc(100% + 40px);
  background-color: #edeff0;
}

.cd-multi-steps li:last-child:after {
  display: none;
}

.cd-multi-steps li.visited:after {
  background-color: #ff5c00;
}

.cd-multi-steps li > em {
  font-style: normal;
}

.cd-multi-steps li > a:hover {
  color: #ff5c00;
}

.cd-multi-steps li > a:hover:before {
  box-shadow: 0 0 0 3px rgba(255,92,0,0.3);
}

.cd-multi-steps:after {
  clear: both;
  content: '';
  display: table;
}

.cart-content {
  margin-top: 30px;
  width: 100%;
}

.cart-content tr {
  background-color: #fff;
}

.cart-content th {
  color: #404040;
  font-weight: 700;
  padding: 12px;
  background-color: #e9edf2;
}

.cart-content,
#ship-item {
  margin-top: 30px;
}

.cart-title {
  color: #ff5c00;
}

.cart-content tr {
  background-color: #fff;
}

.cart-content tr:nth-child(2n) {
  background: #e9edf2;
}

.cart-content th {
  color: #404040;
  font-weight: 700;
  padding: 12px;
  background-color: #e9edf2;
}

.cart-content td {
  padding: 13px;
  vertical-align: top;
}

.cart-image {
  float: left;
}

.cart-image img {
  max-width: 120px;
}

.cart-delete {
  margin-left: 6px;
  color: #7c97b1;
}

.cart-sku {
  padding: 5px 0px;
}

.cart-content-options {
  margin-top: 20px;
}

.cart-content-options .form-control {
  width: 50%;
}

.value-changer {
  display: inline-block;
  vertical-align: top;
  width: 53px;
  text-align: center;
}

.value-changer .increase,
.value-changer .decrease {
  position: relative;
  float: right;
  width: 16px;
  height: 16px;
  border: 1px solid #acbdcd;
  color: #acbdcd;
  font-size: 16px;
  line-height: 13px;
  cursor: pointer;
  background: #fff;
}

.value-changer .increase {
  margin-bottom: 1px;
}

.value-changer input[type="text"] {
  float: left;
  width: 36px;
  height: 33px;
  text-align: center;
  padding: 4px 8px;
  border: 1px solid #acbdcd;
}

#detail-order .title {
  margin-top: 30px;
}

.vam {
  vertical-align: middle !important;
}

.subtotal {
  border-bottom: 1px solid #dedede;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.subtotal span {
  display: inline-block;
  padding: 5px 0;
}

.cart-total {
  margin-bottom: 20px;
}

.cart-total span {
  font-weight: bold;
  font-size: 16px;
}

#ship-item .title {
  margin-top: 0;
}

.lh40 {
  line-height: 40px;
}

.register-billing {
  width: 400px;
  margin: auto;
}

.other-billing {
  padding: 8px 12px;
  background: #f8f8f8;
  border: 1px solid #dde2e4;
  margin-top: 10px;
}

.other-billing .checkbox {
  margin: 0;
}

.other-billing label {
  display: block;
}

#ship-item .general-form {
  margin-top: 20px;
}

#ship-item .general-form .form-control {
  width: 100%;
  min-width: 1px;
}

.payment-method-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.payment-method-list .payment-method {
  color: #555;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 13px;
  margin-bottom: 5px;
}

.payment-method-list .payment-method .radio {
  margin: 0;
  padding-left: 15px;
}

.payment-method-list .payment-method label {
  cursor: pointer;
  font-weight: bold;
  display: block;
  padding: 12px 20px;
  position: relative;
}

.payment-method-list .payment-method input[type="radio"] {
  padding: 0;
  margin-top: 2px;
}

.payment-method-list .payment-body .panel-collapse {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin-top: -6px;
  margin-bottom: 6px;
}

.payment-method-list .payment-body .panel-collapse > div {
  padding: 20px;
}

.payment-bank,
.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt0 {
  margin-top: 0;
}

.payment-bank img {
  width: auto;
}

.price-checkout {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
}

.order-label {
  display: block;
  color: #777;
  font-weight: normal;
}

.card-box .btn-default {
  color: #333 !important;
}

#cart-invoice tr:nth-child(2n) {
  background: #fff;
}

#cart-invoice .invoice-subtotal {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

#cart-invoice .invoice-total {
  background-color: #e9edf2 !important;
  color: #ff5c00;
  font-weight: 700;
}

#cart-invoice .invoice-total td {
  font-size: 16px;
}

#wishlist .md-box {
  padding-bottom: 15px;
}

.dib {
  display: inline-block;
}

#cart-invoice .input-group {
  float: right;
}

.panel-heading {
  padding: 5px 10px;
  border-radius: 0;
}

.panel-body {
  padding: 0 15px;
}

.panel {
  border-radius: 0;
  margin-bottom: 10px;
}

.card-body .panel-body {
  height: 90px;
  overflow-y: auto;
}

.shop-detail .dash-title {
  margin-bottom: 0;
  font-size: 20px;
}

.shop-detail i {
  color: #ff5c00;
}

.shop-detail hr {
  margin: 10px 0;
}

.shop-detail p {
  margin: 0;
}

.shop-counter {
  text-align: center;
  border-left: 1px solid #dedede;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop-detail [class^="col-"]:last-child .shop-counter {
  border-right: 1px solid #dedede;
}

.shop-counter-quantity {
  font-size: 20px;
  font-weight: 700;
  color: #ff5c00;
}

.shop-counter-status {
  font-size: 12px;
}

.shop-detail .btn i {
  color: inherit ;
}

#shop-courier .panel-heading {
  text-align: center;
}

#shop-courier .panel-heading img {
  width: auto;
  max-height: 30px;
}

#shop-courier .panel-body {
  padding: 15px;
  min-height: 130px;
  overflow: hidden;
}

.reputation i {
  color: #ff5c00;
}

.bnone {
  border: none !important;
}

.promotion-table {
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  max-width: 300px;
}

.promotion-header {
  padding: 20px;
  text-align: center;
  color: #173d50;
  background-color: #ffc500;
  border-radius: 4px 4px 0px 0px;
}

.promotion-header h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

.promotion-price span {
  display: inline-block;
}

.promo-start {
  vertical-align: bottom;
}

.promo-value {
  font-size: 28px;
  font-weight: 700;
}

.promo-currency {
  vertical-align: top;
}

.promo-start,
.promo-currency {
  font-size: 10px;
  font-weight: 700;
  color: rgba(23,61,80,0.7);
}

.promotion-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.promotion-body ul li {
  padding: 10px 0;
  text-align: center;
}

.promotion-body li:nth-of-type(2n+1) {
  background-color: #efefef;
}

#product-detail .slides img {
  margin: 0 auto 10px;
  max-height: 300px;
}

#product-detail .flex-control-thumbs {
  text-align: center;
}

#product-detail .flex-control-thumbs li {
  float: none;
}

.promotion-footer {
  text-align: center;
}

.promotion-footer a {
  background-color: #ffc500;
  color: #173d50 !important;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
}

.promotion-footer a:hover,
.promotion-footer a:focus,
.promotion-footer a:active {
  text-decoration: none;
  background-color: #e6b100;
}

.text-center .promotion-table {
  margin: 0 auto;
}

.text-center .promotion-body {
  padding: 10px 0;
}

.text-center .promotion-body .table {
  margin-bottom: 0;
}

.text-center .promotion-body .table td {
  text-align: left !important;
  vertical-align: middle !important;
}
.text-center .promotion-body .table .radio {
  margin-top: 0;
}

.text-center .promotion-body p {
  padding: 0 10px !important;
}

.promo.cd-multi-steps li {
  width: 150px;
}

.promo.cd-multi-steps li:last-child {
  margin-right: 0;
}

.text-center .promotion-body i {
  font-size: 60px;
}

.full-width .product-image {
  width: 100%;
  float: none;
}

.promo-padding {
  padding: 10px;
}

.promo-product .md-box {
  padding-bottom: 0;
  margin-bottom: 0;
}

.promo-product .checkbox {
  margin-top: 0;
}

#lelang .text-muted {
  font-size: 10px;
}

#lelang .overlay-box {
  position: relative;
  opacity: 1;
  box-shadow: none;
}

#lelang .overlay-box > a {
  display: none;
}
  
#lelang .overlay-buttons {
  position: relative;
}

#lelang .overlay-buttons a {
  height: 38px;
  line-height: 28px;
}

#lelang .md-box {
  padding-bottom: 15px;
  position: relative;
}

.lelang-expired {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.lelang-expired:after {
  content: 'Kadaluarsa';
  padding: 10px;
  background: #ff5c00;
  color: #fff;
  text-align: right;
  float: right;
  display: inline-block;
}

.flexslider .slides img {
  margin-bottom: 10px;
  width: auto;
  max-height: 230px;
}

.flex-control-thumbs li {
  margin: 0px 5px;
}

.flex-control-thumbs {
  margin: 0 -5px;
}

#lelang-history {
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

#lelang-history .fa-star {
  color: #ff5c00;
}

#lelang-history .review-post:last-child {
  border: none;
}

.lelang-alert {
  background-color: #e74c3c;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.lelang-alert p {
  margin-bottom: 0;
}

.btn-link {
  color: #ff5c00;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  color: #b34000;
}

.menu-content-sidebar:hover .new-main-menu,
.menu-content-sidebar:hover .new-banner-menu {
  display: block;
  opacity: 1;
}

.new-main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #e64522;
  position: absolute;
  z-index: 999;
  min-width: 215px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  opacity: 0;
  display: none;
}

.new-banner-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #c13010;
/*  position: absolute;
  z-index: 999;*/
  min-width: 215px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
 /* opacity: 0;
  display: none;*/
}

.new-main-menu .first-categories,
.new-banner-menu .first-categories {
  position: static;
  border-bottom: 1px #ffa07a dotted;
}

.new-main-menu .first-categories:hover .second-categories-holder,
.new-main-menu .first-categories:focus .second-categories-holder,
.new-main-menu .first-categories:active .second-categories-holder,
.new-banner-menu .first-categories:hover .second-categories-holder,
.new-banner-menu .first-categories:focus .second-categories-holder,
.new-banner-menu .first-categories:active .second-categories-holder {
  display: flex;
  opacity: 1;
}

.new-main-menu .first-categories > a,
.new-banner-menu .first-categories > a {
  padding: 5px 10px;
  display: block;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.new-main-menu .first-categories > a:hover,
.new-main-menu .first-categories > a:focus,
.new-main-menu .first-categories > a:active,
.new-banner-menu .first-categories > a:hover,
.new-banner-menu .first-categories > a:focus,
.new-banner-menu .first-categories > a:active {
  background-color: #ff5c00;
  text-decoration: none;
}

.new-main-menu .second-categories-holder {
  position: absolute;
  top: 0px;
  left: 215px;
  min-height: 360px;
  min-width: 895px;
  background-color: #fff;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  opacity: 0;
  display: none;
  box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}

.new-banner-menu .second-categories-holder {
  position: absolute;
  top: 0px;
  left: 215px;
  min-height: 360px;
  min-width: 895px;
  background-color: #fff;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  opacity: 0;
  display: none;
  box-shadow: 0 20px 30px rgba(0,0,0,0.1);
  z-index:999;
}

.new-main-menu .nav-submenu-left,
.new-banner-menu .nav-submenu-left {
  columns:4;
  flex-grow: 1;
  column-fill:auto;
}

.new-main-menu .second-categories-holder .second-categories,
.new-banner-menu .second-categories-holder .second-categories {
  border-left: 2px solid #ff5c00;
  margin-bottom: 10px;
  display: block;
  clear: both;
  page-break-inside: avoid;
  break-inside:avoid;
}

.new-main-menu .second-categories-holder .second-categories > a,
.new-banner-menu .second-categories-holder .second-categories > a {
  padding: 0px 5px;
  display: block;
  color: #333;
  font-weight: 700;
}

.new-main-menu .third-categories-holder,
.new-banner-menu .third-categories-holder {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.new-main-menu .third-categories,
.new-banner-menu .third-categories {
  display: inline-block;
  margin:2px 13px 2px 0;
}

.new-main-menu .third-categories a,
.new-banner-menu .third-categories a {
  color: #716D7F;
  padding: 0px 5px;
  display: block;
}


@media screen and (max-width: 767px) {
  .mob-main-header {
    background-color: #e64c04;
    color: #fff;
    padding: 10px 0;
  }

  .mob-main-header a {
    color: #fff;
  }
  
  .mob-menu {
    left: -285px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;
    border-right: 1px solid #dcdcdc;
  }

  .mob-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mob-menu ul li {
    border-bottom: 1px solid #dedede;
    line-height: 35px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
  }

  .mob-menu ul li a {
    color: #333;
    text-decoration: none;
  }

  .icon-close {
    cursor: pointer;
    padding-left: 15px;
    padding-top: 25px;
  }

  .icon-menu {
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 20px;
  }

  .mob-logo {
    max-width: 130px;
  }

  .mob.user-submenu-container {
    opacity: 1;
    visibility: visible;
    display: none;
    top: 59px;
  }
  
  .mob .user-submenu {
    padding: 0;
    padding-top: 10px;
  }

  .mob .user-submenu:before {
    left: 132px;
  }

  .mob-username {
    color: #333;
    margin: 0;
  }

  .mob-username .bold-link {
    display: inline-block;
    line-height: normal;
  }

  .mob .user-submenu-item a {
    padding: 10px;
    border-bottom: 1px solid #dedede;
  }

  .mob-search-header .navbar-search {
    float: none;
    width: 100%;
  }

  .mob-search-header .input-group-btn:first-child > .btn {
    display: none; 
  }

  #banner {
    height: auto;
  }

  #main-images .col-sm-9 img {
    margin-bottom: 10px;
  }

  .width {
    overflow-x: auto;
  }

  .width .nav {
    display: inline-flex !important;
    white-space: nowrap;
  }

  .sm-product .product-image {
    max-width: none;
    max-height: none;
  }

  .sm-product img {
    max-height: none;
  }

  .box {
    margin-bottom:10px;
    padding: 10px 10px 20px 10px;
  } 
  .deals-countdown .deals-time {
    display: block;
    margin-bottom: 10px;
    float: none;
    text-align: center;
  }

  .deals-countdown .deals-time .num-time {
    font-size: 14px;
    padding:10px;
    margin-right:0;
    width:100%;
  }

  .deals-countdown .deals-time .num-time:after {
    font-size:14px;
  }

  .lelang-product .btn-primary {
    margin-left: 0;
  }
  
  .flex-direction-nav {
    display: none;
  }

  .flex-control-nav {
    bottom:-30px;
  }

  .lelang-box {
    margin:20px 0;
  }

  .lelang-title {
    font-size: 18px;
  }

  .partner-box img {
    margin-bottom: 10px;
  }

  .lg-prod-title h2 {
    width: 100%;
    border-radius: 0;
  }

  .lg-prod .col-sm-2 img {
    display: none;
  }
  
  .lg-prod .lg-box {
    height:auto;
    margin-bottom: 10px;
    border: none;
  }

  .lg-prod .lg-box img {
    display: block !important;
  }
  
  .lg-border {
    border: none;
  }

  .lg-prod .lg-border:first-child {
    border-left:1px solid #dedede;
  }

  .overlay-box {
    position: relative;
    opacity: 1;
    box-shadow: none;
    padding-top: 10px;
  }
  
  .twolines {
    min-height: 30px;
  }

  .overlay-box > a {
    display: none;
  }
    
  .overlay-buttons {
    position: relative;
  }
  
  .overlay-buttons a {
    height: 38px;
    line-height: 28px;
  }

  .lg-prod.right .lg-prod-nav h2,
  .lg-prod.right .lg-prod-navbar {
    text-align: left;
  }

  .blog-title {
    font-size: 18px;
  }
  
  .blog-title:before {
    display: none;
  }

  .blog-subtitle {
    font-size: 14px;
    padding-left: 0;
  }

  #invite h2 {
    border: none;
  }

  #invite .pull-right {
    float: none !important;
  }

  .col-sm-13 {
    width: 100%;
    float: left;
    border-right: none !important;
    margin-bottom: 20px;
  }

  .footer-feature {
    padding: 20px 0;
  }

  .footer-desc {
    width: 100%;
  }

  #newsletter h2 {
    margin-bottom: 10px;
  }

  #newsletter .input-group {
    width: 100%;
    margin-bottom: 20px;
  }

  #newsletter .pull-right {
    float: none !important;
  }

  .footer-link li {
    margin-bottom: 10px;
  }

  .form-header img {
    max-width: 100px;
  }

  .form-header h1 {
    margin-top: 20px;
    font-size: 20px;
  }

  .form-body .btn-primary {
    margin-bottom: 5px;
    min-width: 59px;
  }

  .sidebar-content .product-title,
  .sidebar-content .price {
    font-size: 12px !important;
  }

  .sidebar-content .product-title {
    margin-top: 10px;
  }

  #banner.sidebar-product {
    display: none;
  }

  .product-toolbar .pull-left,
  .product-toolbar .pull-right {
    float: none !important;
  }

  .limiter {
    margin-right: 0;
    float: none;
  }

  #catalog .md-box {
    padding-bottom: 10px;
  }

  .detail-wishlist-buttons .btn-default {
    display: block;
    margin-bottom: 10px;
  }

  .share-buttons {
    margin-bottom: 30px;
  }

  .review-box .pages,
  .review-box .pull-right {
    float: none !important;
    text-align: center;
  }

  .review-box .pages {
    margin-bottom: 30px;
  }

  .register-box {
    width: 100%;
    margin: 20px 0;
  }

  .lg-box {
    min-height: 270px;
  }

  .lg-box .harga-baru,
  .lg-box .harga-lama {
    display: block;
  }

  #furniture img {
    width: 100%;
  }

  .avatar-container {
    text-align: center !important;
  }

  .user-submenu-container {
    position: relative;
    top: 0px;
    z-index: 999;
    right: 0;
    transition: all .3s ease;
    opacity: 1;
    visibility: visible;  
  }
  
  .user-submenu {
    border: none;
    box-shadow: none;
  }

  .user-submenu .avatar-container {
    margin: 0;     
  }

  .user-submenu .user-submenu-separator {
    display: none;
  }

  .flex-control-thumbs li {
    float: none;
  }

  #lelang-super .flexslider .slides img {
    margin: auto;
  }

  .lelang-product {
    text-align: center;
  }

  #furniture .product-title {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .radio input[type="radio"], 
  .checkbox input[type="checkbox"] {
      float: left;
      margin-right: 5px;
  }
}

@media (min-width:768px) and (max-width: 1199px) {
  .footer-feature i {
    font-size: 24px;
  }

  .footer-feature-title {
    font-size: 14px;
  }
}

